<article class="post cate<#article/category/id#> auth<#article/author/id#>">
  <h2 class="post-title"><#article/title#></h2>
  <div class="AD text-center"></div>
  <section class="post-body" data-id="<#article/id#>"><#article/content#></section>
  <p class="post-url"><i class="glyphicon glyphicon-hand-right"></i> <b>原文链接：</b><a href="<#article/url#>" title="<#article/title#>"><#article/url#></a></p>
  <p class="post-tags"><i class="glyphicon glyphicon-tags"></i> <b>Tags：</b><#template:article_tag:begin#><#template:article_tag#><#template:article_tag:end#></p>
  <!-- <p class="post-share bdsharebuttonbox clearfix" data-tag="share_2"><i class="glyphicon glyphicon-share"></i> <b>分享本文：</b><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina">新浪微博</a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq">腾讯微博</a><a title="复制网址" href="#" class="bds_copy hidden-xs" data-cmd="copy">复制网址</a></p> -->
  <!-- <#TEMPLATE_INCLUDE_GODSAY#> -->
  <p class="post-meta pull-right"><i class="glyphicon glyphicon-calendar"></i> <time pubdate="pubdate"><#article/posttime#></time> - <i class="glyphicon glyphicon-folder-open"></i> <a href="<#article/category/url#>" title="<#article/category/name#>"><#article/category/name#></a> - <i class="glyphicon glyphicon-user"></i> <a href="<#article/author/url#>" title="<#article/author/name#>"> <#article/author/name#></a> - <i class="glyphicon glyphicon-comment"></i> <a href="<#article/url#>#comment" title="<#article/title#>"><#article/commnums#></a> - <i class="glyphicon glyphicon-eye-open"></i> <#article/addviewcount#> 次浏览</p>
  <div class="clearfix"></div>
  <!---上一篇下一篇 -->
  <div class="pager clearfix"><#template:article_navbar_l#><#template:article_navbar_r#></div>
  <!---上一篇下一篇 END-->
</article>
<div class="banner"><a href="https://plus.google.com/106312838807116861524" title="置百丈玄冰而崩裂，掷须臾池水而漂摇。" target="_blank" rel="nofollow"><img src="http://www.wdssmq.com/zb_users/LOGOS/Banner.png" alt="沉冰浮水的微博" /></a></div>
<#template:article_mutuality:begin#>
<div class="mutuality hidden">
<h3>相关文章</h3>
<#template:article_mutuality#>
</div>
<#template:article_mutuality:end#>

<#template:article_comment:begin#>
<#template:article_comment#>
<#template:article_comment_pagebar#>
<#template:article_comment:end#>
<#template:article_commentpost#>

