<div class="media" id="cmt<#article/comment/id#>">
	<span class="msgname pull-left"><img class="avatar" src="<#article/comment/avatar#>" alt="<#article/comment/name#>" width="54"></span>
	<div class="media-body">
	<b class="commentname"><a href="<#article/comment/urlencoder#>" rel="nofollow" target="_blank" title="<#article/comment/name#>"><#article/comment/name#></a></b><small>&nbsp;发布于&nbsp;<#article/comment/posttime#>&nbsp;&nbsp;</small>
	<div class="msgarticle"><#article/comment/content#></div>
	</div>
	<span class="revertcomment pull-right"><a href="#comment" onclick="RevertComment('<#article/comment/id#>')" title="回复">回复</a></span>
</div>