<article class="post cate<#article/category/id#> auth<#article/author/id#> clearfix">
  <h2 class="post-title"><#article/title#></h2>
  <div class="post-body"><#article/content#></div>
  <p class="post-meta pull-right"><i class="glyphicon glyphicon-calendar"></i> <time pubdate="pubdate"><#article/posttime#></time> - <i class="glyphicon glyphicon-user"></i> <a href="<#article/author/url#>" title="<#article/author/name#>"> <#article/author/name#></a> - <i class="glyphicon glyphicon-comment"></i> <a href="<#article/url#>#comment" title="<#article/title#>"><#article/commnums#></a> - <i class="glyphicon glyphicon-eye-open"></i> <#article/addviewcount#> 次浏览</p>
</article>

<#template:article_comment:begin#>
<#template:article_comment#>
<#template:article_comment_pagebar#>
<#template:article_comment:end#>
<#template:article_commentpost#>
