<footer class="footer">
<div class="container">
<!--row start-->
<div class="row">

<div class="col-sm-4">
<h4>搜索</h4>
<div><form method="post " action="<#ZC_BLOG_HOST#>search.asp" class="form-inline"><div class="form-group"><label class="sr-only" for="search">search</label><input type="text" placeholder="搜索" name="q" id="search" class="form-control"></div> <input type="submit" value="搜索" class="btn btn-default"></form></div>
<div class="widget">
<h4>网站收藏</h4>
<ul><#CACHE_INCLUDE_FAVORITE_HTML#></ul>
</div>
</div>

<div class="col-sm-4 widget">
<h4>友情链接</h4>
<ul><#CACHE_INCLUDE_LINK_HTML#></ul>
</div>

<div class="col-sm-4">
<h4>关于我</h4>
<div class="textwidget"><#TEMPLATE_INCLUDE_ME#></div>
</div>

</div>
<!--row end-->
<hr>
<p class="copy"><#ZC_BLOG_COPYRIGHT#> | Powered By <a href="http://www.zblogcn.com/" title="RainbowSoft Studio Z-Blog" target="_blank" rel="nofollow">Z-Blog</a></p>

</div>
</footer>

<div class="backTop"><a href="#BackTop" title="返回顶部"></a></div>
<div id="Load" class="modal"><div class="modal"></div><div id="inLoad" class="modal-content fade"><span class="for-hidden">欢迎访问本站</span><a class="nosw" title="想看电影" href="http://qm.qq.com/cgi-bin/qm/qr?k=fW4CdzWTCXed5VgLOmTEe--8V6pRF-LT" target="_blank" rel="nofollow"><img title="想看电影" class="for-hidden" alt="想看电影" src="http://www.wdssmq.com/zb_users/logos/group.png" />↑ʞɔılɔ 'sıɥʇ pɐəɹ uɐɔ noʎ ɟı↑<img src="http://www.wdssmq.com/zb_users/logos/qun.jpg" alt="想看电影" /></a></div></div>

<script src="<#ZC_BLOG_HOST#>zb_system/script/common.js" type="text/javascript"></script>
<script src="<#ZC_BLOG_HOST#>zb_system/function/c_html_js_add.asp" type="text/javascript"></script>
<script type="text/javascript" src="<#ZC_BLOG_HOST#>zb_users/THEME/<#ZC_BLOG_THEME#>/script/bootstrap.min.js"></script>
<script type="text/javascript" src="<#ZC_BLOG_HOST#>zb_users/THEME/<#ZC_BLOG_THEME#>/script/common.min.js?v=20170901102438"></script>
</body>
</html>
