<header>
  <div class="container">
  <div class="row">
    <div class="logo col-sm-6"><h1 id="BlogTitle"><a href="<#ZC_BLOG_HOST#>" title="<#ZC_BLOG_NAME#>"><#ZC_BLOG_NAME#></a></h1><h3 id="BlogSubTitle"><#ZC_BLOG_SUB_NAME#></h3></div>
    <div class="contact col-sm-4 col-sm-offset-2"><#TEMPLATE_INCLUDE_CONTACT#></div>
  </div>
  </div>
</header>
<nav class="navbar navbar-default">
  <div class="container"><a class="btn navbar-btn navbar-toggle nosw" data-toggle="collapse" href="#navbar-list" title="导航"> Menu </a>
  <div class="clearfix"></div>
  <div class="collapse navbar-collapse" id="navbar-list"><ul class="nav navbar-nav"><#CACHE_INCLUDE_NAVBAR#></ul></div>
  </div>
</nav>
