<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>fixCommet</id><name>多说评论导入</name><url>https://app.zblogcn.com/?auth=80</url><note>多说评论导入</note><path>main.asp</path><include>include.asp</include><level>1</level><author><name>沉冰浮水</name><email>wdssmq@qq.com</email><url>http://www.wdssmq.com/</url></author><adapted>140101</adapted><version>1.0</version><pubdate>2017/6/4</pubdate><modified>2017/6/4</modified><description></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>
